@mixin reset-body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@mixin circle($dinemtion) {
  border-radius: 50%;
  width: $dinemtion;
  height: $dinemtion;
}

@mixin center {
  display: flex;
  align-items: start;
  justify-content: end;
}

@mixin overLoad($color, $opacity) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color, $opacity);
}

@mixin fedx($key-min) {
  @-webkit-keyframes #{$key-min} {
    @content;
  }

  @keyframes #{$key-min} {
    @content;
  }
}

@mixin breackPoint($size) {
  @if $size== "mobile" {
    @media (max-width: 786) {
      @content;
    }
  } @else if $size == "tablet" {
    @media (min-width: 786) and (max-width: 991) {
      @content;
    }
  }
}
